html, body
{
	padding: 0;
	margin: 0;
}
header
{
	min-height: 10vw;
}
#banner
{
	height: 20vw;
	width: 100vw;
}

/*-------------------------------------------------Menu on---------------------------------------------*/
nav
{
	padding:0;
	margin:0;
	width: 100%;
	position: sticky;
	top: 0vw;
	background:#111111;
	z-index: 100;
	list-style:none;
	text-align:center;
	height: 3.5vw;
}

#menu ul
{
	padding: 0;
	margin: 0;
}

.menu_logo
{
height: 3.2vw;
display:block;
float: left;
list-style:none;
text-align: left;
position: relative;
}

.menu_logo img
{
height: 3.2vw;
margin-left: 1.6vw;
}


/* menu-items */
.menu_item
{
height: 3.2vw;
width: 23vh;
display:block;
float: left;
list-style:none;
text-align: left;
position: relative;
}
.menu_item:hover
{
color:#ddd;
background: #222222;
}

.login
{
height: 3.2vw;
width: 23vh;
display:block;
float: right;
list-style:none;
text-align: left;
position: relative;
}

.login a
{
	text-align: center;
	height: 3.2vw;
	width: 100%;
	margin:0;
	display:block;
	text-decoration:none;
	color:#eee;
	font-family:Arial;
	line-height:3.5vw;
	font-size: 2vh;
	outline-style:none;
}
/* Sous-menu */
.sub_menu
{
position:absolute;
height: auto;
max-height:0;
overflow:hidden;
padding:0;
margin:0;
list-style:none;
background:#111111;
width: 100%;
}
.menu_item:hover .sub_menu, .menu_co:hover .sub_menu_co
{
	max-height: 15vw;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

/* Sous-menu-items */
.sub_menu_item
{
	display:inherit;
	width: 100%;
}

/* les a href */
.menu_item a
{
	text-align: center;
	height: 3.2vw;
	width: 100%;
	margin:0;
	display:block;
	text-decoration:none;
	color:#eee;
	font-family:Arial;
	line-height:3.5vw;
	font-size: 2vh;
	outline-style:none;
}
.menu_item a:hover
{
color:#ddd;
background: #222222;
-moz-transition: all 0.2s;
-webkit-transition: all 0.2s;
transition: all 0.2s;
}
.lumen_menu
{
	background: url("img/miplucoda.png") no-repeat center;
	background-size: auto 3.5vw;
	text-align: center;
	height: 3.5vw;
	width: 100%;
	margin:0;
	display:inline-block;
	text-decoration:none;
	color: transparent;
	font-family:Arial;
	line-height:3.5vw;
	font-size: 2vh;
	outline-style:none;
}
.logo_menu
{
height: 1.5vw;
position: relative;
top: 0.3vw;
padding-right: 0.5vw;
font-size: 0;
}
.deroule_menu
{
	text-align: center;
	float: right;
	display: block;
	position: absolute;
	bottom: 0;
	left: 25%;
	font-weight: normal; 
	font-size:1vh; 
	color:#ddd;
	cursor: pointer;
	width: 50%;
}





#form_deconnexion
{
	display:inline;
	margin:0;
	padding: 0;
}
#form_deconnexion:hover
{
	background: #222222;
}


.btn_connexion
{
	padding-left: 0.5vw;
	height: 3.2vw;
	display:block;
	float: right;
	list-style:none;
	text-align: left;
	position: relative;
}


.btn_connexion:hover
{
	background: #222222;
}
.connexion
{
	text-align: center;
	height: 3.2vw;
	width: 100%;
	margin:0;
	display:block;
	text-decoration:none;
	color:#eee;
	font-family:Arial;
	line-height:3.6vw;
	font-size: 2vh;
	outline-style:none;
}
.text_co
{
	position: relative;
	top: -0.16vw;
}


.btn_deco
{
	text-align: left;
	padding-left: 1.2vw;
	height: 2.5vw;
	width: 100%;
	margin:0;
	display:block;
	color:#eee;
	font-family:Arial;
	line-height:2.5vw;
	font-size: 1.6vh;
	border: none;
	background : none;
}
.btn_deco:hover
{
	cursor: pointer;
	background: #222222;
}
.btn_login
{
	height: 1.5vw;
	position: relative;
	top: 0.9vw;
	padding-right: 0.5vw;
	font-size: 0;
}






.nav_p
{
	width: auto;
	height: 3.2vw;
	float: right;
	z-index: 101;
}
.nav_p_points
{
	line-height: 3.2vw;
	font-size: 2vh;
	padding-right: 1vh;
	color: white;
	float: left;
}
.nav_separator
{
	position: relative;
	top: 0.5vw;
	float: left;
	width: 0.1vw;
	height: 2.4vw;
	background: white;
}
.nav_p_head
{
	height: 3.2vw;
	font-size: 1vw;
	padding-right: 0.5vw;
	padding-left: 0.5vw;
	position: relative;
	display: block;
}
.nav_p_head:hover
{
	background: #222222;
}
.menu_p
{
	height: 3.2vw;
	width: auto;
	display:block;
	float: left;
	list-style:none;
	text-align: left;
	position: relative;
}
.sub_menu_p
{
position:absolute;
height: auto;
max-height:0;
overflow:hidden;
padding:0;
margin:0;
list-style:none;
background:#111111;
width: 9vw;
top: 3.2vw;
right: 0;
}
.menu_p_a
{
	text-align: left;
	padding-left: 1.2vw;
	height: 2.5vw;
	width: 100%;
	margin:0;
	display:block;
	text-decoration:none;
	color:#eee;
	font-family:Arial;
	line-height:2.5vw;
	font-size: 1.6vh;
	outline-style:none;
}
.menu_p_a:hover
{
color:#ddd;
background: #222222;
-moz-transition: all 0.2s;
-webkit-transition: all 0.2s;
transition: all 0.2s;
}
.logo_menu_p
{
height: 1.2vw;
position: relative;
top: 0.3vw;
padding-right: 0.5vw;
font-size: 0;
}
.p_pseudo
{
	line-height: 3.2vw;
	font-size: 2vh;
	margin-right: 1vh;
	color: white;
	display: block;
	float: left;
	position: relative;
}
.p_head
{
	height: 2.5vw;
	margin:0;
	padding: 0;
	position: relative;
	top: 0.5vw;
}

#menu_block_bottom
{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
	background:#111111;
	width: 100%;
	margin-top: 3.5vw;
	border-bottom: 0.1vw solid #000;
	height: 2vw;
}
/*-------------------------------------------------Menu off---------------------------------------------*/


















.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-md-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-md-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}





main
{
	min-height: 60vw;
}

footer
{
	min-height: 5vw;
}